.imagecontainer{
    /* background-color: blue; */
    background-image: url("../../../public/images/Untitled design.png");
    /* background-repeat: no-repeat, repeat; */
   
}

.Box {
    width: 100%;
  }
  
  @media screen and (min-width: 30em) {
    .Box {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 48em) {
    .Box {
      width: 25%;
    }
  }