.imagecontainer {
  /* background-color: blue; */
  background-image: url("../../../public/images/Untitled design.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 30px;
}

.booking_imagecontainer {
  /* background-color: blue; */
  background-image: url("../../../public/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

.Box {
  width: 100%;
}
.why_hype_box {
  border-radius: 12px;
  background-color: #fa9b11;
  font-size: 20px;
  padding: 12px;
  margin: 12px 6px;
  font-family: Oswald;
}
.booking_root .chakra-input,
.booking_root .chakra-select {
  background-color: #ffffff;
  border-color: #757575;
}

.booking_root .react-calendar {
  background: white;
  border-radius: 4px;
  padding: 10px;
}

.booking_root .react-calendar__navigation {
  text-align: center;
  width: 100%;
  display: flex;
  font-size: 20px;
}

.booking_root .react-calendar__month-view__days__day {
  height: 30px;
}
.booking_root .react-calendar__tile--now {
  color: red;
  background-color: #f2f2f2;
}
.booking_root .react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.booking_root .react-calendar__month-view__days__day:disabled,
.booking_root .react-calendar__month-view__days__day[disabled] {
  color: #7f7f7f;
}

.booking_root .react-calendar__tile--active {
  background-color: #feebc8;
}
.react-calendar__navigation__arrow {
  padding: 10px 20px;
}
.oswald {
  font-family: Oswald;
}
.audiowide {
  font-family: Audiowide;
}
.bg_cover {
  background-size: cover !important;
}
.only_mobile {
  display: none;
}
.obj_contain img {
  object-fit: contain;
}

@media screen and (min-width: 30em) {
  .Box {
    width: 50%;
  }
}

@media screen and (min-width: 48em) {
  .Box {
    width: 25%;
  }
}

@media screen and (max-width: 625px) {
  .hypekar_service_root img {
    display: none;
  }
  .no_bg_mob {
    background: none;
  }
  .only_mobile {
    display: block;
  }
}
.chakra-button {
  font-family: Oswald;
}
